.chart-card {
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center;
}

::ng-deep ngx-charts-pie-chart {
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-weight: 600;
  color: #1e293b;
}

mat-card-subtitle {
  color: #64748b;
  margin-top: 0.5rem;
}

